<h1>Baseball order system</h1>
<div id="app">
  <router-link to="/hello1">Go to Hello1</router-link>
  <router-link to="/members">Go to Members</router-link>
  <router-view></router-view>
</div>
<%= javascript_pack_tag 'hello_vue' %>
