body {
  background-color: #f5f5f5;
}

#app {
  padding: 1em;

  #members {
    .input-form {
      padding-bottom: 1.5em;
    }

    .member-input {
      width: auto;
      margin-right: 1em;
    }

    .el-button+.el-button {
      margin-left: auto;
    }

    .box-card {
      .el-card__header {
        padding: 0.5em 1em;
        background-color: #f5f5f5;
      }

      .el-card__body {
          padding: 1em 1.5em;
      }
    }

    .el-dialog__header,.el-dialog__footer,.delete-target {
      text-align: center;
    }

    .el-dialog__header {
      border-bottom: 1px solid;
      background-color: #f5f5f5;
    }
  }

  .el-tabs {
    .el-tabs__content {
      padding: 1.5em 2em;
    }
  }

  #orders {
    .input-form {
      padding-bottom: 1.5em;
    }

    .game {
      padding-bottom: 1.5em;
      overflow: hidden;

      .game-order {
        padding-right: 2em;
      }

      .inline-box {
        float: left;
      }

      .table-name {
        padding: 0.5em;
      }

      tr:hover>td {
        background-color: #ecf5ff;
      }

      .members {
        .hidden-table-header {
          display: none;
        }
      }
    }
  }
}
