body {
  background-color: #f5f5f5;
}

#app {
  padding: 1em;

  #members {
    .input-form {
      padding-bottom: 1.5em;
    }

    .member-input {
      width: auto;
      margin-right: 1em;
    }

    .el-button+.el-button {
      margin-left: auto;
    }

    .box-card {
      .el-card__header {
        padding: 0.5em 1em;
        background-color: #f5f5f5;
      }

      .el-card__body {
          padding: 1em 1.5em;
      }
    }

    .el-dialog__header,.el-dialog__footer,.delete-target {
      text-align: center;
    }
  }

  .el-tabs {
    .el-tabs__content {
      padding: 1.5em 2em;
    }
  }
}
